In [1]:
import pandas as pd
import numpy as np

In [24]:
data = pd.read_csv('data.csv')

In [25]:
X = data.drop(['color'], axis =1)
X

              x           y
0    516.012706  393.014514
1    436.211762  408.656585
2    512.052601  372.022014
3    489.140464  401.807159
4    446.207986  338.516682
..          ...         ...
331  638.916471  323.569096
332  542.005901  347.527070
333  611.964612  377.254978
334  520.654168  455.996453
335  594.479314  392.901455

[336 rows x 2 columns]

In [26]:
X.isna()

         x      y
0    False  False
1    False  False
2    False  False
3    False  False
4    False  False
..     ...    ...
331  False  False
332  False  False
333  False  False
334  False  False
335  False  False

[336 rows x 2 columns]

In [27]:
X.dtypes

x    float64
y    float64
dtype: object